
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FAFAFA;
}



/* badges */
.pending-badge {
    background: #FFF7EC;
    border-radius: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFB647;
    padding: 4px 16px;
    gap: 2px;
    width: fit-content;
}

.active-badge {
    background: #EFF8F2;
    border-radius: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #63B67F;
    padding: 4px 16px;
    gap: 2px;
    width: fit-content;
  }
